*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 810px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.user{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.user>div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #52A7C6;
    color: white;
}

.user>button:hover{
    background-color: cornflowerblue;
}