@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #FFF;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #02061A;
    position: relative;
}

section{
    width: 1065px;
}

.top-circle{
    position: absolute;
    width: 590px;
    height: 590px;
    background: rgba(84, 197, 173, 0.95);
    fill: rgba(84, 197, 173, 0.95);
    filter: blur(217px);
    left: -104px;
    top: -260px;
    border-radius: 50%;
}

header{
    width: 1065px;
    height: 38px;
    margin: 98px 0 188px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    color: #FFF;
    text-align: center;
    font-size: 1.688em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

header>ul{
    display: flex;
}

header a{
    text-transform: capitalize;
}

header>ul>li:first-child{
    margin-right: 71px;
}
header>ul>li:nth-child(2){
    margin-right: 47px;
}

header>ul>li:nth-child(3){
    margin-right: 44px;
}

.top-slider{
    width: 1035px;
    height: 495px;
    margin-bottom: 216px;
    position: relative;
}

.top-slider>h2{
    width: 522px;
    height: 233px;
    margin-top: 132px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.top-slider>button{
    width: 256px;
    height: 95px;
    margin: 31px 22px 0 0;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.688em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.top-slider>button:first-of-type{
    background: #23263C;
}

.top-slider>button:last-of-type{
    border: 3px solid #23263C;
    background: none;
}

.top-slider>img{
    position: absolute;
    width: 467.417px;
    height: 461.312px;
    flex-shrink: 0;
    border-radius: 10px;
    top: 0;
    right: 0;
}

.featured-on{
    margin-bottom: 197px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px
}

h3{
    color: #FFF;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: flex-start;
}

.rectangle{
    width: 1065px;
    height: 125px;
    flex-shrink: 0;
    border: 1px solid #5BD2BD;
    background: #23263C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 138px
}

.rectangle>p{
    color: #FFF;
    text-align: center;
    font-size: 1.688em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.5;
}

.be-one{
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 61px
}

.be-one>img{
    width: 428px;
    height: 480px;
    flex-shrink: 0;
    margin-top: 50px;
}

.be-one-right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.be-one-right-section>h2{
    width: 542px;
    height: 219px;
    color: #FFF;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: 73px; /* 121.667% */
}

.be-one-right-section>h2>span{
    color: #56CAB1;
}

.be-one-right-section>p:first-of-type{
    width: 521px;
    color: #4C99BB;
    font-family: Poppins, sans-serif;
    font-size: 1.625em;
    font-style: normal;
    font-weight: 700;
    line-height: 31px; /* 119.231% */
}

.be-one-right-section>p:last-of-type{
    width: 418px;
    height: 100px;
    color: #FFF;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
}
.be-one-right-section>p:last-of-type>img{
    width: 50px;
    height: 50px;
    position: absolute;
}

.be-one-right-section>p:last-of-type>span{
    margin-left: 60px;
}

.be-one-right-section>button{
    width: 126px;
    height: 68px;
    margin-top: 13px;
    flex-shrink: 0;
    background: none;
    border-radius: 16px;
    border: 1px solid #56CAB1;
    color: #FFF;
    font-size: 1.563em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.be-one-right-section>button:last-of-type{
    position: absolute;
    left: 5px;
    top: 385px;
    z-index: -1;
}

.be-one-right-section-rectangle{
    margin-top: 40px;
    padding: 18px 34px 20px 28px;
    width: 521px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #3A5B6A;
}

.be-one-right-section-rectangle>table{
    width: 459px;
    height: 94px;
}

.be-one-right-section-rectangle th, td{
    height: 38px;
    color: #FFF;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.carry-out{
    width: 1065px;
    height: 710px;
    margin-top: 74px;
    position: relative;
}

.carry-out h2{
    width: 465px;
    height: 212px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    bottom: 170px;
}

.carry-out>button{
    width: 450px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid rgba(84, 197, 173, 0.95);
    background: #1F143B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #56CAB1;
    font-size: 3.125em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.card{
    width: 375px;
    height: 507px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    background: rgba(137, 130, 130, 0.50);
}

.card>img{
    width: 100%;
    height: 358px;
    border-radius: 10px;
}

.card>h4{
    margin-left: 29px;
    width: 222px;
    color: #56CAB1;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-shadow:
            2px 2px 0 #02061A,
            -2px -2px 0 #02061A,
            2px -2px 0 #02061A,
            -2px 2px 0 #02061A,
            2px 0 0 #02061A,
            -2px 0 0 #02061A,
            0 2px 0 #02061A,
            0 -2px 0 #02061A;
}

.card-bottom{
    width: 336px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.card-bottom>p{
    color: #FFF;
    text-align: center;
    font-size: 2.188em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-bottom>p>span{
    color: #23263C;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-bottom>button{
    width: 147.461px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid #000;
    background: #1F143B;
    color: #52A7C6;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    text-shadow:
            2px 2px 0 #02061A,
            -2px -2px 0 #02061A,
            2px -2px 0 #02061A,
            -2px 2px 0 #02061A,
            2px 0 0 #02061A,
            -2px 0 0 #02061A,
            0 2px 0 #02061A,
            0 -2px 0 #02061A;
}

.carry-out .card:last-of-type{
    top: 20px;
    right: 260px;
    z-index: -1;
    transform: rotate(-25.689deg);
}

.testimonials{
    width: 1063px;
    height: 700px;
    margin: 234px 0 208px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonials>h2{
    color: #5BD2BF;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.testimonials>h3{
    width: 427px;
    height: 152px;
    margin-bottom: 147px;
    color: #FFF;
    text-align: center;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    align-self: center;
}

.testimonials-grid{
    width: 100%;
    height: 507px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-card{
    width: 345px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #24293F;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-card>img{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 100px;
    mix-blend-mode: luminosity;
}

.testimonials-card>p:first-of-type{
    color: #FFF;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.testimonials-card>p:last-of-type{
    width: 302px;
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.be-part-of{
    width: 1063px;
    height: 378px;
    padding-top: 24px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(97deg, #1F143B -19.45%, #3C8273 103.56%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.be-part-of>p{
    width: 312px;
    color: #FFF;
    text-align: center;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 100% */
}

.be-part-of>button{
    width: 344px;
    height: 85px;
    margin-top: 39px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    width: 1063px;
    height: 350px;
    margin-top: 262px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

footer>p{
    color: #FFF;
    font-size: 1.563em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: line-through;
    text-transform: capitalize;
}

footer> ul{
    list-style: none;
}

footer>ul>li{
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
    cursor: pointer;
}

footer>ul>li:first-of-type, .subscribe p{
    color: #FFF;
    font-size: 1.563em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 19px;
    cursor: unset;
}

.subscribe p{
    margin-bottom: 9px;
}

.subscribe form{
    width: 253px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #3B7C70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px 1px 20px;
}

.subscribe form input[type="email"]{
    width: 120px;
    height: 38px;
    background: none;
    border: none;
}

.subscribe form input[type="email"]::placeholder{
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.8;
}

.subscribe form input[type="email"]:focus{
    outline: none;
}

.subscribe form button{
    width: 100px;
    height: 58px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #262E48;
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}
